<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.ChatMessageMapper">

    <!-- Java - MySQL Mapper -->
    <resultMap id="ChatMessageMap" type="ChatMessage">
        <result property="id" column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result property="roomId" column="room_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result property="type" column="type" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="userNickname" column="user_nickname" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="content" column="content" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- INSERT                                                                                                         INSERT -->

    <!-- 채팅 메시지 등록 -->
    <insert id="insertChatMessage" parameterType="ChatMessage">
        INSERT
        INTO chat_message (room_id, type, user_nickname, content)
        VALUES (#{roomId}, #{type}, #{userNickname}, #{content})
    </insert>

    <!-- SELECT                                                                                                         SELECT -->

    <!-- 채팅 메시지 목록 조회 -->
    <select id="selectChatMessageList" parameterType="string" resultMap="ChatMessageMap">
        SELECT *
        FROM chat_message
        WHERE room_id = #{roomId}
        ORDER BY id DESC
    </select>

    <!-- 채팅 메시지 상세 조회 -->
    <select id="selectChatMessage" parameterType="string" resultMap="ChatMessageMap">
        SELECT *
        FROM chat_message
        WHERE id = #{id}
    </select>

    <!-- UPDATE                                                                                                         UPDATE -->

    <!-- 채팅 메시지 수정 (불필요하므로 구현하지 않는다.) -->

    <!-- DELETE                                                                                                         DELETE -->

    <!-- 채팅 메시지 삭제 -->
    <delete id="deleteChatMessage" parameterType="ChatMessage">
        DELETE
        FROM chat_message
        WHERE id = #{id} AND room_id = #{roomId} AND user_nickname = #{userNickname}
    </delete>

</mapper>