<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="25"/>
        <setting name="defaultFetchSize" value="100"/>
        <setting name="safeRowBoundsEnabled" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="false"/>
        <setting name="localCacheScope" value="SESSION"/>
        <setting name="jdbcTypeForNull" value="OTHER"/>
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
    </settings>

    <typeAliases>
        <!-- 페이징 -->
        <typeAlias type="com.demo.model.Criteria" alias="Criteria"/>
        <!-- 계정 -->
        <typeAlias type="com.demo.model.User" alias="User"/>
        <typeAlias type="com.demo.security.CustomUserDetails" alias="CustomUserDetails"/>
        <!-- 게시글 -->
        <typeAlias type="com.demo.model.Post" alias="Post"/>
        <typeAlias type="com.demo.model.PostLike" alias="PostLike"/>
        <!-- 댓글 -->
        <typeAlias type="com.demo.model.Comment" alias="Comment"/>
        <typeAlias type="com.demo.model.CommentLike" alias="CommentLike"/>
        <!-- 채팅 -->
        <typeAlias type="com.demo.model.ChatRoom" alias="ChatRoom"/>
        <typeAlias type="com.demo.model.ChatMessage" alias="ChatMessage"/>
    </typeAliases>
</configuration>